#menuSection {
  margin-bottom: 1rem;
}

.dark-card-text {
  background-color: rgba(31, 31, 31, 0.80);
  padding: 1rem;
}
.card-nopad {
  padding: 0;
}



footer {
  background: linear-gradient(
    217deg,
    rgba(255, 0, 0, 0.8),
    rgba(255, 0, 0, 0) 70.71%
  );
}
