section {
  margin-bottom: 1.5rem;
}

/* this is the styling for the once card that breaks away from bootstrap styling */
.dark-card-text {
  background-color: rgba(31, 31, 31, 0.8);
  padding: 1rem;
}

.card-nopad {
  padding: 0;
}
